wifi_ssid: "tu_red_wifi"
wifi_password: "tu_password_wifi"
ap_password: "password_para_modo_ap_de_emergencia"
api_encryption_key: "genera_tu_propia_clave_de_32_bytes_en_base64"
latitude: 9.9333
longitude: -84.0833
